<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Scheduling</title>

    <!-- CSS -->
    <!-- load Bootstrap and custom style.css -->
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

    <!-- JS -->
    <!-- load Angular, Firebase, Firebase Angular Library, and custom app.js -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.1.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
<div class="container" ng-app="scheduleApp" ng-controller="mainController">

    <div class="page-header text-center">
        <h1>AITO Appointments</h1>
    </div>

    <p class="text-center">What time would you like to meet?<br><strong class="text-info">Quick! Other people are booking times too!</strong></p>

    <div class="row times" ng-repeat="agent in agents">

        <div class="col-lg-1"><h4>{{ agent.name }}</h4></div><div class="col-lg-1 text-center" ng-repeat="slot in agent.slots">

         <span class="time-slot">
                <input type="checkbox" id="{{ agent.name }}-{{ slot.time }}" onclick="test(this.id)" ng-model="slot.booked" ng-disabled="slot.booked">
                <label for="{{ agent.name }}-{{ slot.time }}">{{ slot.time }}<br>
                    <span ng-if="slot.booked">&nbsp</span>
                    <span ng-if="!slot.booked">available</span>

                </label>
            </span>
        </div>

    </div>



<script>
    var baseRef = new Firebase('https://boiling-torch-6521.firebaseio.com/');
    var agentsRef = baseRef.child('agents');
    var myName = "Nick Joyce";

    function test(id){
        console.log(id);
        var data = angular
                .element(document.querySelector('[ng-controller="mainController"]'))
                .scope()
                .tasks[1]
                .Name;

        alert(data);
        var slotsRef = agentsRef.child({{ agent.name }})
        var appRef = slotsRef.child("slots/"+plainNumTime);
        appRef.set({
            time: time,booked: false
        });
    }

</script>




    <p class="text-center">
        <a href="#" ng-click="reset()" class="btn btn-primary">Reset</a>
    </p>
</div>
</body>
</html>